<div class="section-content">
  {{ .Content }}
  <div class="form-wrapper">
    <form action="https://formspree.io/f/mkndvanz" method="POST">
      <input type="text" name="_gotcha" style="display:none" />
      <div class="form-item">
        <label>Your name: <small>*</small></label>
        <input type="text" name="name" placeholder="My full name" required>
      </div>
      <div class="form-item">
        <label>Your company:</label>
        <input type="text" name="company" placeholder="Company name">
      </div>
      <div class="form-item">
        <label>Phone:</label>
        <input type="phone" name="phone" placeholder="Phone number">
      </div>
      <div class="form-item">
        <label>Your email:<small>*</small></label>
        <input type="email" name="email" placeholder="my@email.com" required>
      </div>
      <div class="form-item">
        <label>Your message:<small>*</small></label>
        <textarea name="message" placeholder="Hi there!" rows="5" required></textarea>
      </div>
      <div class="form-actions">
        <!-- your other form fields go here -->
        <button type="submit">Contact me</button>
      </div>
    </form>
  </div>
</div>
