
<!-- <a class="btn btn-ghost text-xl">{{ site.Title }}</a> -->
<div class="text-center my-7">
    {{ $avatar := resources.Get .Site.Data.global.hero.avatar }}
    {{ if $avatar }}
    <div class="avatar my-auto">
        <div class="mask mask-hexagon-2 w-32 mb-6">
            <a href="{{ .Site.Home.RelPermalink }}">
                <img src="{{ $avatar.RelPermalink }}" />
            </a>
        </div>
    </div>
    {{ end }}        
    <h1 class="text-2xl font-semibold">{{ .Site.Data.global.hero.title }}</h1>
    <p class="text-sm text-primary">{{ .Site.Params.subtitle}}</p>
    <div class="text-sm mt-4 px-5 text-center text-base-content/70">
        {{ .Site.Params.description | safeHTML | markdownify }}
    </div>
</div>

{{ partial "menu.html" (dict "menuID" "main" "page" .) }}

<div class="text-center my-8">
    <a href="{{ "contact" | relURL }}" class="btn btn-outline btn-primary">Get in touch</a>
</div>