{{/* Pagination partial for numbered page navigation */}}
{{ if gt (len .Pagers) 1 }}
<div class="join flex justify-center mt-8">
  {{ if .HasPrev }}
    <a class="join-item btn" href="{{ .Prev.URL }}">«</a>
  {{ else }}
    <button class="join-item btn btn-disabled" disabled>«</button>
  {{ end }}
  {{ $currentPage := .PageNumber }}
  {{ range $i, $page := .Pagers }}
    <a class="join-item btn{{ if eq $page.PageNumber $currentPage }} btn-active{{ end }}" href="{{ $page.URL }}">{{ $page.PageNumber }}</a>
  {{ end }}
  {{ if .HasNext }}
    <a class="join-item btn" href="{{ .Next.URL }}">»</a>
  {{ else }}
    <button class="join-item btn btn-disabled" disabled>»</button>
  {{ end }}
</div>
{{ end }}
